/* Import the Open Sans font */
@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic-ext,latin-ext,greek-ext');

/* Override global values */
body,
textarea {
    font-family: 'Open Sans Regular', 'Open Sans', Arial, sans-serif !important;
}

#innerdocbody {
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    min-height: 400px !important;
}

/* Reduce some of the page paddings */
#innerdocbody.innerPV {
    padding-top: 50px !important;
}
#innerdocbody.innerPV > div {
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.pageBreakComputed {
    margin-bottom: 10px !important;
    margin-top: 50px !important;
}

#innerdocbody .ace-line:first-child h1,
#innerdocbody .ace-line:first-child h2,
#innerdocbody .ace-line:first-child h3,
#innerdocbody .ace-line:first-child h4,
#innerdocbody .ace-line:first-child h5,
#innerdocbody .ace-line:first-child h6 {
    margin-top: 0 !important;
}

#innerdocbody h1, #innerdocbody h2, #innerdocbody h3,
#innerdocbody h4, #innerdocbody h5, #innerdocbody h6 {
    line-height: 20px !important;
}

#innerdocbody h1 span, #innerdocbody h2 span, #innerdocbody h3 span,
#innerdocbody h4 span, #innerdocbody h5 span, #innerdocbody h6 span {
    line-height: 1.5em;
}
#innerdocbody span {
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Clean up the users window */
#users {
    min-width: 250px;
}

/* Position the online count button a bit better */
li[data-key=showusers] > a #online_count {
    background-color: #000;
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
    color: #FFF;
    display: inline-block;
    position: absolute;
    padding: 3px 4px;
    right: 1px;
    top: 5px;
}

li[data-key=showusers] > a:focus #online_count,
li[data-key=showusers] > a:hover #online_count {
    background-color: #999;
}

/* Hide chat */
#chaticon {
    display: none;
}

/* Restyle the toolbar */
.toolbar {
    background: transparent;
    border: none;
    height: 0;
    opacity: 0;
}

.toolbar ul {
    z-index: auto;
}

.toolbar ul.menu_left {
    margin-right: 50px;
    right: auto;
}

.toolbar ul.menu_right {
    position: absolute;
    right: 0;
}

.toolbar ul li {
    height: 42px;
}

.toolbar ul li.separator {
    display: none;
}

.toolbar ul li .grouped-left,
.toolbar ul li .grouped-middle,
.toolbar ul li .grouped-right {
    margin: 0 !important;
}

.toolbar ul li > a,
.toolbar ul li > label a {
    height: inherit;
    padding: 10px 10px !important;
}

.toolbar ul li > select {
    margin: 0 14px;
}

.toolbar ul li a {
    -webkit-border-radius: 3px !important;
       -moz-border-radius: 3px !important;
            border-radius: 3px !important;
    background: transparent;
    border: none;
   -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
}

.toolbar ul li a:hover {
    background: transparent;
}

.toolbar ul li a .buttonicon {
    background-image: none;
    color: #000;
    display: block;
    font-size: 22px;
    height: 27px;
    line-height: 22px;
    width: 25px;
}

.toolbar ul li a:hover .buttonicon {
    color: #999;
}

.toolbar ul li a .buttonicon:focus {
    border: 0;
    outline: none;
}

/* Additional icons added by OAE */
@font-face { font-family: 'fontawesome-etherpad-oae'; src: url('data:data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAuQAA4AAAAAE9AAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABRAAAAEQAAABWPeFIyGNtYXAAAAGIAAAAOgAAAUrQExm3Y3Z0IAAAAcQAAAAKAAAACgAAAABmcGdtAAAB0AAABZQAAAtwiJCQWWdhc3AAAAdkAAAACAAAAAgAAAAQZ2x5ZgAAB2wAAAGBAAABmKXh3B5oZWFkAAAI8AAAADUAAAA2BBnQ8GhoZWEAAAkoAAAAIAAAACQHUQNOaG10eAAACUgAAAAQAAAAEA3yAABsb2NhAAAJWAAAAAoAAAAKAPYAjG1heHAAAAlkAAAAHwAAACAAmgvAbmFtZQAACYQAAAF3AAACzcydGhxwb3N0AAAK/AAAACwAAAA9U9VitnByZXAAAAsoAAAAZQAAAHvdawOFeJxjYGSuZZzAwMrAwVTFtIeBgaEHQjM+YDBkZGJgYGJgZWbACgLSXFMYHF4wvGBiDvqfxRDFzMPgDxRmBMkBAOS6Cyd4nGNgYGBmgGAZBkYGEHAB8hjBfBYGDSDNBqQZGZgYGF4w/f8PUvCCAURLMELVAwEjG8OIBwBmAQawAAAAAAAAAAAAAAAAAAB4nK1WaXMTRxCd1WHLNj6CDxI2gVnGcox2VpjLCBDG7EoW4BzylexCjl1Ldu6LT/wG/ZpekVSRb/y0vB4d2GAnVVQoSv2m9+1M9+ueXpPQksReWI+k3HwpprY2aWTnSUg3bFqO4kPZ2QspU0z+LoiCaLXUvu04JCISgap1hSWC2PfI0iTjQ48yWrYlvWpSbulJd9kaD+qt+vbT0FGO3QklNZuhQ+uRLanCqBJFMu2RkjYtw9VfSVrh5yvMfNUMJYLoJJLGm2EMj+Rn44xWGa3GdhxFkU2WG0WKRDM8iCKPslpin1wxQUD5oBlSXvk0onyEH5EVe5TTCnHJdprf9yU/6R3OvyTieouyJQf+QHZkB3unK/ki0toK46adbEehivB0fSfEI5uT6p/sUV7TaOB2RaYnzQiWyleQWPkJZfYPyWrhfMqXPBrVkoOcCFovc2Jf8g60HkdMiWsmyILujk6IoO6XnKHYY/q4+OO9XSwXIQTIOJb1jkq4EEYpYbOaJG0EOYiSskWV1HpHTJzyOi3iLWG/Tu3oS2e0Sag7MZ6th46tnKjkeDSp00ymTu2k5tGUBlFKOhM85tcBlB/RJK+2sZrEyqNpbDNjJJFQoIVzaSqIZSeWNAXRPJrRm7thmmvXokWaPFDPPXpPb26Fmzs9p+3AP2v8Z3UqpoO9MJ2eDshKfJp2uUnRun56hn8m8UPWAiqRLTbDlMVDtn4H5eVjS47CawNs957zK+h99kTIpIH4G/AeL9UpBUyFmFVQC9201rUsy9RqVotUZOq7IU0rX9ZpAk05Dn1jX8Y4/q+ZGUtMCd/vxOnZEZeeufYlyDSH3GZdj+Z1arFdgM5sz+k0y/Z9nebYfqDTPNvzOh1ha+t0lO2HOi2w/UinY2wvaEGT7jsEchGBXMAGEoGwdRAI20sIhK1CIGwXEQjbIgJhu4RA2H6MQNguIxC2l7Wsmn4qaRw7E8sARYgDoznuyGVuKldTyaUSrotGpzbkKXKrpKJ4Vv0rA/3ikTesgbVAukTW/IpJrnxUleOPrmh508S5Ao5Vf3tzXJ8TD2W/WPhT8L/amqqkV6x5ZHIVeSPQk+NE1yYVj67p8rmqR9f/i4oOa4F+A6UQC0VZlg2+mZDwUafTUA1c5RAzGzMP1/W6Zc3P4fybGCEL6H78NxQaC9yDTllJWe1gr9XXj2W5twflsCdYkmK+zOtb4YuMzEr7RWYpez7yecAVMCqVYasNXK3gzXsS85DpTfJMELcVZYOkjceZILGBYx4wb76TICRMXbWB2imcsIG8YMwp2O+EQ1RvlOVwe6F9Ho2Uf2tX7MgZFU0Q+G32Rtjrs1DyW6yBhCe/1NdAVSFNxbipgEsj5YZq8GFcrdtGMk6gr6jYDcuyig8fR9x3So5lIPlIEatHRz+tvUKd1Ln9yihu3zv9CIJBaWL+9r6Z4qCUd7WSZVZtA1O3GpVT15rDxasO3c2j7nvH2Sdy1jTddE/c9L6mVbeDg7lZEO3bHJSlTC6o68MOG6jLzaXQ6mVckt52DzAsMKDfoRUb/1f3cfg8V6oKo+NIvZ2oH6PPYgzyDzh/R/UF6OcxTLmGlOd7lxOfbtzD2TJdxV2sn+LfwKy15mbpGnBD0w2Yh6xaHbrKDXynBjo90tyO9BDwse4K8QBgE8Bi8InuWsbzKYDxfMYcH+Bz5jBoMofBFnMYbDNnDWCHOQx2mcNgjzkMvmDOOsCXzGEQModBxBwGT5gTADxlDoOvmMPga+Yw+IY59wG+ZQ6DmDkMEuYw2Nd0ayhzixd0F6htUBXowPQTFvewONRUGbK/44Vhf28Qs38wiKk/aro9pP7EC0P92SCm/mIQU3/VdGdI/Y0Xhvq7QUz9wyCmPtMvxnKZwV9GvkuFA8ouNp/z98T7B8IaQLYAAQAB//8AD3icJVBNSwJRFL33zTgTOvk5PoeQ53zUFPiBjOMkkoMotIiIsIRc1S9oEZURKUGbFkI/oFXQNigoiGgp0S/wN0hrt2lP4l4Oh3svh3MPkNnv7EU4FEIggwoLb7EQAslnV2JmmDBENYxmgfjocP60N9gl+7cET77G38fS5efko18gR63B46CFxbPh6enwZw4gzmZc84FrCqBAEmqwWA8WWSIaEgmI+WzKKM/LMu0aGugWMIzUx/WkKskWB8sw7dX5dr3seqlSzPVKhkMzyFBOlhw6wslUwUmH6tN7cqPqcULT2qYi9XT6O6YMe7KC9eyynsRuyou0IxpaeV++G4102pl2IyrRljQxGhvLQeQafKhI41wdsUh1LdyOevTOBwACwH9ICApkYI3nYvM85rn82yu7fiDlMOL4pOSwgKBKpu1zg0K81ZxqzZaoxJldNQJ2bntrq2jKZmUtrQal1/7ztXjxft5o7uw0WaXhVcwlojGNN7Xdqr+Bo4M+vyFXf+mxWEAAAAB4nGNgZGBgAOLIstsP4/ltvjJwM78AijBcWBe9H0Ib9v//+38j80JmHiCXg4EJJAoAklIOYgAAAHicY2BkYGAO+p/FEMX8goHh/3fmRQxAERTAAgCLcQWlA+gAAANZAAADoAAAAxEAAAAAAAAAKgCMAMwAAHicY2BkYGBgYbADYhBgAmIBhmIgKcddABIAABA8AWYAeJx1kMtqwkAUhv/x0otCW1rotrMqSmm8YDeCIFh0026kuC0xxiQSMzIZBV+j79CH6Uv0WfqbjKUoTZjMd745c+ZkAFzjGwL588SRs8AZo5wLOEXPcpH+2XKJ/GK5jCreLJ/Qv1uu4AGB5Spu8MEKonTOaIFPywJX4tJyARfiznKR/tFyidyzXMateLV8Qu9ZrmAiUstV3IuvgVptdRSERtYGddlutjpyupWKKkrcWLprEyqdyr6cq8T4cawcTy33PPaDdezqfbifJ75OI5XIltPcq5Gf+No1/mxXPd0EbWPmcq7VUg5thlxptfA944TGrLqNxt/zMIDCCltoRLyqEAYSNdo65zaaaKFDmjJDMjPPipDARUzjYs0dYbaSMu5zzBkltD4zYrIDj9/lkR+TAu6PWUUfrR7GE9LujCjzkn057O4wa0RKskw3s7Pf3lNseFqb1nDXrkuddSUxPKgheR+7tQWNR+9kt2Jou2jw/ef/fgDdX4RLAHicY2BigAAuBuyAhYGBkYmRmZGFNTGrtLiEtaAoM6+EpbQ4tYiBAQBE1gY+eJxj8N7BcCIoYiMjY1/kBsadHAwcDMkFGxlYnTYyMGhBaA4UeicDAwMnMouZwWWjCmNHYMQGh46IjcwpLhvVQLxdHA0MjCwOHckhESAlkUCwkYFHawfj/9YNLL0bmRhcAAfTIrgAAAA=') format('woff');
}

.buttonicon-oae {
    font-family: 'fontawesome-etherpad-oae';
}

.buttonicon-clearauthorship:before {
  content: "\e800";
}

.buttonicon-download:before {
  content: "\e801";
}

.buttonicon-user:before {
  content: "\e802";
}

/* Restyle the editor textarea */
#editorcontainerbox {
    border: 1px solid #CCC;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
            top: 0;
}

#editorcontainerbox #editorcontainer {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    top: 0 !important;
}

#outerdocbody iframe {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px;
}

#innerdocbody > div {
    margin-right: 20px !important;
}

/* Other users */

#users {
    background: #FFF;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px #999;
       -moz-box-shadow: 0px 0px 10px #999;
            box-shadow: 0px 0px 10px #999;
    padding: 12px;
    right: 6px;
    top: 45px;
}

#users #myusernameedit {
    border: none !important;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-size: 18px;
    height: 26px;
    margin-left: 8px;
    width: 90%;
}

#users #myuser {
    height: 32px;
}

#users #myswatchbox {
    float: left;
    left: 0;
    position: relative;
    top: 0;
}

#users #myswatchbox,
#users #myswatch {
    width: 30px;
    height: 30px;
}

#users #nootherusers {
    display: none !important;
}

#users #otheruserstable {
    margin-top: 12px;
}

#users #otheruserstable td {
    font-size: 14px;
    padding: 0 2px 7px 0;
}

#users #otheruserstable tr:last-child td {
    padding-bottom: 0;
}

#users #otheruserstable .swatch {
    height: 25px;
    margin: 0 4px 0 0;
    width: 25px;
}

/* Override the ep_headings style */
#headings #heading-selection {
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-size: 14px;
    height: 25px;
    margin-top: 12px;
    padding: 0 4px;
}

/* Override the user list colour picker */
#myuser #mycolorpicker {
    height: 275px;
    padding: 12px;
    top: 10px;
    width: 245px;
}

#editorcontainer {
    top: 0 !important;
}

@media (max-width: 430px) {
    div#editbar.toolbar.enabledtoolbar {
        display: none !important;
    }

    #editorcontainerbox {
        top: 0 !important;
    }
}
