<li class="separator acl-write"></li>
<li id="headings" class="acl-write">
    <select id="heading-selection">
        <option value="dummy" selected>Style</option>
        <option value="-1">Normal</option>
        <option value="0">Title 1</option>
        <option value="1">Title 2</option>
        <option value="2">Title 3</option>
        <option value="3">Title 4</option>
        <option value="4">Title 5</option>
        <option value="5">Title 6</option>
        <option value="6">Code</option>
    </select>
</li>